@model IEnumerable<EmployeeManager.Models.ActivityLog>

@{
	ViewData["Title"] = "Index";
}
<script>
	$(document).ready(function () {
		$('#ActivityLogTable').DataTable();
	});
</script>

<h2>Index</h2>

@*<p>
		<a asp-action="Create">Create New</a>
	</p>*@
<table class="table" id="ActivityLogTable">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Action)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Details)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AffectedTable)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AddDate)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Action)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Details)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AffectedTable)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AddDate)
				</td>
			</tr>
		}
	</tbody>
</table>
